[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tox = "*"

[packages]
cryptography = "*"
ecdsa = "*"
requests = "*"
sseclient-py = "*"
pytest = "*"
pycspr = {editable = true, path = "."}
jsonrpcclient = "*"
flake8 = "*"
tox = "*"

[requires]
python_version = "3.9"
